<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StayNest</title>
</head>

<body>
  <h3>Your Listing</h3>
  <%= listing.title %><br>
    <%= listing.description %><br>
      <%= listing.image %><br>
        &#8377;<%= listing.price.toLocaleString("EN-IN")%><br>
          <%= listing.location %><br>
            <%= listing.country %><br>

              <a href="/listings/<%= listing._id %>/edit">Edit</a>
              <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button>Delete</button>
              </form>


</body>

</html>